@model ECommerce.Models.ProductDetailModel
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div class="container">
    <div class="page-header clearfix detailHeading">
        <h2 class="text-muted">Product Item Detail</h2>
    </div>
</div>

<form asp-controller="Product" asp-action="AddToCart">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4">
                <p id="productTitle">Ürün: @Model.Title</p>
                <p id="productPrice">Tutar: @Model.Price</p>
            </div>
            <div class="col-md-4">
                <input name="ProductId" type="hidden" value="@Model.ProductId" />
                <p><input class="form-control" id="Quantity" name="Quantity" type="number" value="0"</p>
                <p>
                    <button class="btn btn-lg btn-info" type="submit">Add To Cart</button>
                </p>
            </div>
        </div>
    </div>
</form>

